<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>九牧1800个包安装区域查询</title>
    <style>
        select {
            width: 200px;
            padding: 5px;
        }
        .code-print{
            box-sizing: border-box;
            padding:10px;
            margin-top:20px;
            width:200px;
            border:1px solid blue;
        }
    </style>
</head>
<body ng-app="areaApp">
<div ng-controller="GetAreaCodeController">
    <div>
        <!--ng-options中key作为select的value绑定到ng-model（就是省市区的编号),value为省市区的名字显示在下拉列表中-->
        <select ng-model="areaObj.addressProvince"
                ng-change="areaObj.addressCity=undefined;areaObj.addressDistrict=undefined"
                ng-options="key as value for (key,value) in DISTRICTS['100000']">
            <option value="">省</option>
        </select>
        <select ng-model="areaObj.addressCity"
                ng-change="areaObj.addressDistrict=undefined;"
                ng-options="key as value for (key,value) in DISTRICTS[areaObj.addressProvince]">
            <option value="">市</option>
        </select>
        <select class="form-control form-control-new"
                ng-model="areaObj.addressDistrict"
                ng-options="key as value for (key,value) in DISTRICTS[areaObj.addressCity]">
            <option value="">区</option>
        </select>
    </div>
    <div class="code-print">
        <p>该地区是否有安装支持:<span ng-bind="areaObj.getAreaCode(areaObj.addressProvince, areaObj.addressCity, areaObj.addressDistrict)"></span></p>
    </div>
	    <div class="code-print">
        <p style='color:red;'>有值默认有安装区域（显示优化中……）</p>
    </div>
</div>
<script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
<script src="areaCodes.js"></script>
</body>
</html>
